{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="">
    <div class="w-full h-[580px] bg-[#000] pt-[40px]">
        <div class="flex container w-[900px] items-center justify-between">
            <div class="">
                <a href="{% url 'home' %}">
                    <img class="w-[90px]" src="{% static 'img/sh_logo.png' %}" alt="logo">
                </a>
            </div>
            <div class="">
                <i class="fa-solid fa-bars-staggered text-white text-[28px]"></i>
            </div>
        </div>
        <div class="text-white container w-[900px] text-center flex flex-col items-center justify-center pt-[80px]">
            <h1 class="text-[46px] font-regular">Shodiyorbek Qambaraliyev</h1>
            <h2 class="text-[24px] font-regular uppercase">web - developer</h2>
        </div>
    </div>


    <div class="w-full container flex flex-col items-center justify-between">
        <div class="w-[600px] pt-[50px]">
            <h2 class="text-[32px] font-bold">About me</h2>
            <p class="text-[16px] font-regular">Hello! I’m Shodiyorbek, a passionate Web Developer from Izboskan,
                Andijon. I specialize in both frontend and backend development, building modern, responsive, and
                user-friendly websites. I’m constantly learning new things and love solving problems with clean code.
                Currently, I’m working on personal projects and leveling up my skills to become a full-stack expert.
                <br> Let's build an amazing application together!
            </p>

            <h2 class="text-[32px] font-bold mt-[70px]">My Skills</h2>
            <p class="flex flex-wrap gap-2 items-center text-[16px]">
                <span class="flex items-center gap-1 px-2 py-1 rounded-md">
                    <svg enable-background="new 0 0 32 32" height="16px" width="16px" viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <polygon fill="#E44D26" points="27.377,28.889 16.001,32 4.625,28.889 2,0 30.002,0" />
                            <polygon fill="#FF6C39" points="16,2 16,29.75 25.232,27.008 27.688,2" />
                            <polygon fill="#FFFFFF"
                                points="24.363,6 7.607,6 8,10 8.619,17 19.503,17 19.148,20.984 16,21.99 12.857,20.984 12.648,19 8.803,19 9.262,23.987 16,25.99 22.728,23.986 23.718,13 12.252,13 12.002,10 24,10" />
                        </g>
                    </svg>
                    HTML
                </span>

                <span class="flex items-center gap-1 px-2 py-1 rounded-md">
                    <?xml version="1.0"?>
                    <!DOCTYPE svg
                        PUBLIC '-//W3C//DTD SVG 1.0//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'><svg
                        enable-background="new 0 0 32 32" height="16px" id="Layer_1" version="1.0" viewBox="0 0 32 32"
                        width="16px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <polygon fill="#1F62AE" points="27.377,28.889 16.001,32 4.625,28.889 2,0 30.002,0  " />
                            <polygon fill="#347DC6" points="16,2 16,29.75 25.232,27.008 27.688,2  " />
                            <polygon fill="#FFFFFF"
                                points="24.363,6 7.607,6 8,10 16,10 8.25,12.99 8.619,17 19.502,17 19.158,21 16,21.99 12.861,20.984    12.533,19 8.803,19 9.262,23.987 16,25.99 22.728,23.986 23.719,12.99 16.026,12.99 24,10  " />
                        </g>
                        <g />
                        <g />
                        <g />
                        <g />
                        <g />
                        <g />
                    </svg> CSS
                </span>

                <span class="flex items-center gap-1 px-2 py-1 rounded-md">
                    <?xml version="1.0"?>
                    <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                    <svg height="16px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
                        width="16px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="_x31_87-js">
                            <g>
                                <rect height="459.998" style="fill:#F0DB4F;" width="459.996" x="26.002" y="26.001" />
                                <path
                                    d="M276.331,384.759c0,44.767-26.286,65.2-64.586,65.2c-34.601,0-54.623-17.865-64.892-39.529    l35.218-21.255c6.777,12.013,12.938,22.177,27.826,22.177c14.169,0,23.207-5.544,23.207-27.208V237.21h43.227V384.759    L276.331,384.759z"
                                    style="fill:#323330;" />
                                <path
                                    d="M378.598,449.959c-40.147,0-66.124-19.099-78.754-44.151l35.219-20.332    c9.241,15.095,21.356,26.286,42.611,26.286c17.866,0,29.364-8.932,29.364-21.355c0-14.787-11.704-20.021-31.52-28.75l-10.781-4.62    c-31.214-13.246-51.853-29.983-51.853-65.2c0-32.447,24.745-57.09,63.248-57.09c27.518,0,47.232,9.549,61.402,34.603    l-33.679,21.562c-7.392-13.246-15.401-18.481-27.825-18.481c-12.63,0-20.639,8.01-20.639,18.481    c0,12.938,8.009,18.176,26.594,26.285l10.78,4.621c36.759,15.71,57.397,31.832,57.397,67.974    C450.164,428.602,419.565,449.959,378.598,449.959L378.598,449.959z"
                                    style="fill:#323330;" />
                            </g>
                        </g>
                        <g id="Layer_1" />
                    </svg>JavaScript
                </span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md"><svg width="16px" height="16px"
                        viewBox="0 0 261.76 226.69" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path fill="#41B883" d="M0,0l130.9,226.7L261.8,0h-52.4l-78.5,136L52.4,0H0z" />
                            <path fill="#35495E" d="M52.4,0l78.5,136L209.4,0h-34.9l-43.6,75.5L87.2,0H52.4z" />
                        </g>
                    </svg>
                    Vue</span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md">
                    <?xml version="1.0"?>
                    <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                    <svg height="16px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
                        width="16px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="_x32_67-python">
                            <g>
                                <path
                                    d="M194.005,240.252h105.054c29.216,0,52.529-24.101,52.529-53.414V86.603    c0-28.525-24.002-49.871-52.529-54.691c-35.214-5.804-73.478-5.509-105.054,0.097c-44.462,7.87-52.527,24.298-52.527,54.693    v21.453H246.63v31.959H102.033c-30.591,0-57.349,18.394-65.709,53.315c-9.64,40.035-10.033,65.02,0,106.826    c7.476,31.085,25.28,53.314,55.872,53.314h36.101v-48.001C128.296,270.845,158.298,240.252,194.005,240.252L194.005,240.252z"
                                    style="fill:#347AB4;" />
                                <path
                                    d="M474.975,209.372c-7.575-30.395-21.935-53.315-52.527-53.315h-39.443v46.626    c0,36.199-30.692,66.691-65.71,66.691H212.24c-28.724,0-52.528,24.594-52.528,53.414v100.138    c0,28.524,24.788,45.246,52.528,53.413c33.247,9.737,65.215,11.509,105.054,0c26.462-7.675,52.529-23.116,52.529-53.413v-20.997    H264.867v-32.417h157.58c30.593,0,41.904-21.346,52.527-53.314C485.992,283.244,485.501,251.57,474.975,209.372L474.975,209.372z"
                                    style="fill:#FFCA1D;" />
                                <path
                                    d="M187.415,89.594c-10.479,0-18.975-8.591-18.975-19.164c0.094-10.668,8.496-19.259,18.975-19.259    c10.385,0,18.976,8.685,18.976,19.259C206.39,81.003,197.894,89.594,187.415,89.594z"
                                    style="fill:#FFFFFF;" />
                                <path
                                    d="M314.908,460.076c-10.479,0-18.976-8.591-18.976-19.164c0.095-10.668,8.496-19.259,18.976-19.259    c10.385,0,18.976,8.685,18.976,19.259C333.884,451.485,325.388,460.076,314.908,460.076z"
                                    style="fill:#FFFFFF;" />
                            </g>
                        </g>
                        <g id="Layer_1" />
                    </svg>Python
                </span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md">Django</span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md">RestAPI</span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md"><img class="w-[16px]"
                        src="{% static 'img/bootstrap.png' %}" alt=""> Bootstrap</span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md"><img class="w-[16px]"
                        src="{% static 'img/tailwind.png' %}" alt=""> Tailwind</span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md"><img class="w-[16px]"
                        src="{% static 'img/database.png' %}" alt=""> SQLite</span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md">PostgreSQL</span>
                <span class="flex items-center gap-1 px-2 py-1 rounded-md">GitHub</span>
            </p>

        </div>
    </div>
    <div class="flex container justify-between mt-[60px]">
        <div class="w-[320px] h-[405px] bg-cover bg-center bg-no-repeat bg-[#000] p-4">
            <h2 class="text-white text-[20px] font-bold">Project Title - Uzum Market</h2>
            <a class="text-white" href="https://uzummarket.pythonanywhere.com/">Loyha linki</a>
        </div>

        <div class="w-[320px] h-[405px] bg-cover bg-center bg-no-repeat bg-[#000] p-4">
            <h2 class="text-white text-[20px] font-bold">Project Title - Uzum Market</h2>
            <a class="text-white" href="https://uzummarket.pythonanywhere.com/">Loyha linki</a>
        </div>

        <div class="w-[320px] h-[405px] bg-cover bg-center bg-no-repeat bg-[#000] p-4">
            <h2 class="text-white text-[20px] font-bold">Project Title - Uzum Market</h2>
            <a class="text-white" href="https://uzummarket.pythonanywhere.com/">Loyha linki</a>
        </div>

    </div>

    <div class="container flex items-center justify-center mt-[60px] gap-4 text-center">
        <a class="bg-[#d9d9d9] py-[6px] px-[12px] border-2 border-[#d9d9d9] hover:border-blue-500" href="#"><i
                class="fa-solid fa-arrow-right"></i> All Projects</a>
        <a class="bg-[#d9d9d9] py-[6px] px-[12px] border-2 border-[#d9d9d9] hover:border-blue-500" href="#"><i
                class="fa-solid fa-arrow-right"></i> About me</a>
        <a class="bg-[#d9d9d9] py-[6px] px-[12px] border-2 border-[#d9d9d9] hover:border-blue-500" href="#"><i
                class="fa-solid fa-arrow-right"></i> Contact me</a>
    </div>

    <div class="bg-[#000] flex items-center justify-center mt-[60px]">
        <div class="container h-[300px] bg-[#000] mt-[80px] text-white flex items-center justify-between">
            <div class="flex gap-4">
                <a class="uppercase" href="#">projects</a>
                <a class="uppercase" href="#">about</a>
                <a class="uppercase" href="#">contact</a>
            </div>
            <div>
                <p class="text-[16px] font-medium">shodiyorbek057@gmail.com</p>
                <p class="text-[16px] font-semibold mt-1"><i class="fa-solid fa-phone-volume text-[18px]"></i> +998 97
                    213 8503</p>
            </div>
            <img class="w-[100px] h-[100px]" src="{% static 'img/sh_logo.png' %}" alt="logo">
        </div>
    </div>
</div>

{% endblock %}